@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700|Roboto+Slab');

@font-face {
    font-family: 'droid_serifitalic';
    src: url('/vendor/DroidSerif-Italic-webfont.eot');
    src: url('/vendor/DroidSerif-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/vendor/DroidSerif-Italic-webfont.woff') format('woff'),
         url('/vendor/DroidSerif-Italic-webfont.ttf') format('truetype'),
}

@font-face {
    font-family: 'WisdomScriptAJ';
	src: url('/vendor/WisdomScriptAJ.eot');
    src: local('WisdomScriptAJ'), 
    url('/vendor/WisdomScriptAJ.woff') format('woff'), 
    url('/vendor/WisdomScriptAJ.ttf') format('truetype');
};
$font-logo: 'WisdomScriptAJ';
$font-title: 'Montserrat', sans-serif;
$font-sub-title: 'droid_serifitalic', serif;
$font-paragtaph: 'Roboto Slab', serif;


$yellow-site:rgb(254, 209, 54);
$grey-site: #777777;
$grey-background: rgb(247, 247, 247);

h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
    line-height: 70px;
    font-family: $font-title;
    font-weight: 700;
    padding-top: 100px;
    margin-bottom: 0;
}

h6 {
    font-family: $font-sub-title;
    color: $grey-site;
    padding-bottom: 62px;
}

h5 {
    font-family: $font-title;
    font-weight: 700;
    font-size: 1.125rem;
    margin-bottom: 20px;
}

h4 {
    font-family: $font-sub-title;
    color: $grey-site;
    font-size: 0.875rem;
}

h3 {
    font-family: $font-title;
    color: $grey-site;
    font-size: 0.875rem;
}

p {
    font-family: $font-paragtaph;
    font-size: 0.875rem;
    color: $grey-site;
}

section {
    padding-bottom: 120px;
}

/* navigation */
.logo {
    font-family: $font-logo;
    color: $yellow-site;
    font-size: 1.625rem;
    padding-bottom: 16px;
    transition: 1s all;
    &:hover {
        color: white;
    }
}
.header {
    background-image: url('/images/BackgroundImage.png');
}

.nav-link {
    color: white;
    font-family: $font-title;
    font-weight: 500;
    font-size: 0.875rem;
    text-transform: uppercase;
    transition: 1s all;
    &:hover {
        color: $yellow-site;
    }
}
.navbar-toggler-icon {
    color: white;
}

/* Jumbotron */

.jumbotron {
    background-color: transparent;
    text-align: center;
}

.small-slogan {
    font-family: $font-sub-title;
    color: white;
    font-size: 2.5rem;
}

.big-slogan {
    font-family: $font-title;
    font-weight: 700;
    color: white;
    font-size: 4.688rem;
}

.jumbotron .btn-primary {
    background-color: $yellow-site;
    border-color: $yellow-site;
    padding: 25px 50px;
    font-family: $font-title;
    font-weight: 700;
    font-size: 1.125rem;
    text-transform: uppercase;
    transition: 1s all;
    &:hover {
        background-color: white;
        color: $yellow-site;
    }
}

/* services */

.title {
    text-align: center;
    
}

.services-icon {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.circle {
    border: 3px solid $yellow-site;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.circle-icon-first {
    font-size: 2.25rem;
    color: $yellow-site;
}
.circle-icon-second {
    position: absolute;
}

.fa-check {
    top:1.25rem;
    color: $yellow-site;
}

.fa-utensil-spoon {
    transform: rotate(-45deg);
    font-size: 0.75rem;
    bottom: 20px;
    color: white;
}

.services-info {
    text-align: center;
}



.portfolio {
    background-color: $grey-background;
}

.card {
    width: 288px;
    border: none;
}

.card-body {
    text-align: center;
    h5 {
        margin-bottom: 0;
    }
}

/* portfolio */

.portfolio .container .row .col {
    display: flex;
    justify-content: center;
}

.portfolio-break {
    margin-top: 50px;
}


/* about us */

.about-info-left {
    text-align: right;
    h5:first-child {
        text-transform: uppercase;
        margin-bottom: 10px;
    }
}

.about-info-right {
    text-align: left;
    h5:first-child {
        text-transform: uppercase;
        margin-bottom: 10px;
    }
}

.about-row {
    margin-bottom: 95px;
    justify-content: center;
}

.about .col-3 {
    text-align: center;
}

.continues {
    width: 174px;
    height: 174px;
    border: 7px solid $grey-background;
    background-color: $yellow-site;
    color: white;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    h5 {
        margin: 0;
        text-transform: uppercase;
        position: absolute;
        text-align: center;
        line-height: 30px;
        padding: 20px;
    }
}

/* continues button */

.about-row-hiden {
    display: none;
}

#continues-box:checked ~ div .about-row-hiden {
    display: inline-flex;
}

/* End continues button */

.team {
    background-color: $grey-background;
}


.team_photo {
    border: 7px solid white;
    border-radius: 50%;
    margin: 0 auto;
}

.team-text {
    text-align: center;
    h5 {
        margin-top: 20px;
        margin-bottom: 8px;
    }    
}


.team-icon {
    display: flex;
    justify-content:center;
    padding: 0 50px;
}

.circle-team-icon {
    border: 3px solid rgb(34, 34, 34);
    border-radius: 50%;
    width: 45px;
    height: 45px;
    font-size: 1.125rem;
    margin-right: 10px;
    margin-left: 10px;
    
}

.circle-team-twitter {
    padding: 5px 11px;
    transition: all 1s;
    &:hover {
        border-color: rgb(0, 172, 237);
        background-color: rgb(0, 172, 237);
        color: white;
    }
}

.circle-team-fb {
    padding: 5px 14px;
    transition: all 1s;
    &:hover {
        border-color: rgb(59, 89, 152);
        background-color: rgb(59, 89, 152);
        color: white;
    }
}

.circle-team-pin {
    padding: 5px 13px;
    transition: all 1s;
    &:hover {
        border-color: rgb(203, 32, 40);
        background-color: rgb(203, 32, 40);
        color: white;
    }
}

.circle-team-gplus {
    padding: 5px 8px;
    transition: all 1s;
    &:hover {
        border-color: rgb(217, 82, 50);
        background-color: rgb(217, 82, 50);
        color: white;
    }
}

.team-sentences {
    font-size: 1rem;
    text-align: center;
    margin-top: 50px;
}

.logos {
    padding: 60px 0;
    text-align: center;
    img {
        margin: 0 10px;
    }
   
}

.contact {
    background-color: black;
    background-image: url('/images/map.png');
    background-repeat: no-repeat;
    background-position: right top;
    h2 {
        color: white;
    }
}

.contact-message {
    height: 198px;
}

.contact .col  {
    margin-left: 10px;
    margin-right: 10px;
}

.contact input, .contact textarea {
    font-family: $font-title;
    font-size: 0.875rem;
    font-weight: 700;
    color: $grey-background;
}

.contact  {
    & input {
        height: 50px;
    }
    & form {
    text-align: center;
    }
    & .btn {
        margin-top: 15px;
        width: 240px;
        height: 66px;
        background-color: $yellow-site;
        border-color: $yellow-site;
        font-family: $font-title;
        font-weight: 700;
        font-size: 1.125rem;
        text-transform: uppercase;
        transition: 1s all;
        &:hover {
            background-color: white;
            color: $yellow-site;
    }
    }
}

.footer-icon {
    display: flex;
    justify-content:center;
    padding: 0 50px;
}

.circle-footer-icon {
    border: 3px solid rgb(34, 34, 34);
    background-color: rgb(34, 34, 34);
    color: white;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    font-size: 18px;
    margin-right: 10px;
    margin-left: 10px;
    
}

.circle-footer-twitter {
    padding: 5px 11px;
    transition: all 1s;
    &:hover {
        border-color: rgb(0, 172, 237);
        background-color: rgb(0, 172, 237);
    }
}

.circle-footer-fb {
    padding: 5px 14px;
    transition: all 1s;
    &:hover {
        border-color: rgb(59, 89, 152);
        background-color: rgb(59, 89, 152);
    }
}

.circle-footer-pin {
    padding: 5px 13px;
    transition: all 1s;
    &:hover {
        border-color: rgb(203, 32, 40);
        background-color: rgb(203, 32, 40);
    }
}

.circle-footer-gplus {
    padding: 5px 8px;
    transition: all 1s;
    &:hover {
        border-color: rgb(217, 82, 50);
        background-color: rgb(217, 82, 50);
    }
}

.footer-copyright {
    text-align: center;
    & h3 {
        line-height: 45px;
    }
}


@media (min-width: 992px) { 
    .jumbotron {
        padding-top: 165px;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-left: 20px;
        padding-right: 20px;
    }
 }
